@use '../../style/mixin.scss' as mixin;
@use '../../style/colors.scss' as color;

.container {
  @include mixin.container;

  @include mixin.tablet {
    padding-top: 10px;
    margin-bottom: 100px;
  }

  @include mixin.laptop {
    padding-top: 20px;
    width: 70%;
    margin-bottom: 200px;
  }
}

.btnBox {
  padding: 10px;
  margin-top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  padding: 10px;
  margin-top: 70px;

  @include mixin.laptop{
    margin-top: 50px;
  }

}

.timerNameBox {
  background-color: color.$lightBoxBack;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);

  @include mixin.tablet {
    padding: 20px;
  }

  margin: 10e;
  // @include mixin.laptop{
  //     width: 50%;
  //     margin: 0 auto;
  // }
}

.timerName {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.27;
  color: color.$lightPrimaryText;
}

.timerNameSup {
  composes: timerName;
  font-weight: 300;
  font-size: 11px;
}

.timerNameInput {
  width: 97%;
  height: 35px;

  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 16px;
  color: color.$lightPrimaryText;
  background-color: color.$lightBackground;

  border: 1px solid transparent;

  padding: 5px;
  margin-top: 15px;
}

.timeBox {
  margin-top: 50px;

  background-color: color.$lightBoxBack;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);

  @include mixin.tablet {
    padding: 20px;
  }

  // @include mixin.laptop{
  //     width: 50%;
  //     margin-left: auto;
  //     margin-right: auto;
  // }
}

.timeTittle {
  composes: timerName;
  margin: 0;
}

.timeNumbBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 15px 0 0;
}

.timeLabel {
  composes: timerName;
  font-size: 15px;

  width: 90px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  // padding: 5px 10px 10px;
  &:not(:first-child) {
    margin-left: 10px;
  }

  @include mixin.tablet {
    width: 100px;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.input {
  width: 60px;
  height: 50px;

  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 35px;

  color: color.$lightPrimaryText;

  padding: 10px;
  margin-top: 5px;

  border: 1px solid transparent;
  background-color: color.$lightBackground;
  // border: 1px solid color.$button;

  text-align: center;

  @include mixin.tablet {
    width: 75px;
    height: 60px;
  }
}

.saveBox {
  // width: 35%;
  width: fit-content;
  margin-top: 50px;
  margin-left: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: color.$lightBoxBack;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);

  @include mixin.mobile{
    // width: 25%;
  }

  @include mixin.tablet{
    padding: 20px;
    // width: 20%;
  }
}

.saveLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.27;

  color: color.$lightPrimaryText;
}

.saveInput {
  margin-left: 20px;
  width: 20px;
  height: 20px;

  @include mixin.tablet{
    width: 30px;
    height: 30px;
  }
}

.button {
  display: block;

  padding: 10px 25px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  @include mixin.jcc;

  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.16;

  border: 1px solid transparent;
  border-radius: 5%;

  color: color.$lightPrimaryText;
  background-color: color.$button;

  cursor: pointer;
}

.repeatBox{
  margin-top: 50px;

  background-color: color.$lightBoxBack;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);

  @include mixin.tablet{
      padding: 20px;
  }
}

.repeatLabel{
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  color: color.$lightPrimaryText;  

  // width: 90px;
  // display: inline-flex;
  // flex-direction: column;
  // align-items: center;

  // padding: 5px 10px 10px;

  // @include mixin.tablet {
  //   width: 100px;

  //   &:not(:first-child) {
  //     margin-left: 20px;
  //   }
  // }
}

.repeatSpan{
  position: relative;
  top: -10px;
}

.repeatInput{
  width: 60px;
  height: 20px;

  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 35px;

  color: color.$lightPrimaryText;

  padding: 10px;
  margin-top: 5px;

  border: 1px solid transparent;
  // background-color: color.$lightBackground;
  // // border: 1px solid color.$button;

  // text-align: center;

  // @include mixin.tablet {
  //   width: 75px;
  //   height: 60px;
  // }
}