@use '../../style/mixin.scss' as mixin;
@use '../../style/colors.scss' as color;

.container {
    @include mixin.container;
    padding-top: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixin.tablet {
        margin-bottom: 100px;
    }

    @include mixin.laptop {
        max-width: 1200px;
        
        padding: 35px;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }

    @include mixin.desktop {
        width: 1200px;
    }
}

.boxAuthorization{
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixin.mobile {
        justify-content: end;
    }

    @include mixin.laptop {
        // align-self: center;
        order: -2;
        width: auto;
        grid-column: 4/11;
        grid-row: 1/3;
    }
}

.authorization{
    text-decoration: none;

    padding: 10px 25px;

    @include mixin.jcc;

    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 1.16;

    border: 1px solid transparent;
    border-radius: 10px;

    color: color.$lightPrimaryText;
    background-color: color.$button;

    &:hover,
    &:focus{
        background-color: color.$buttonAccent;
    }

    @include mixin.mobile {
        margin-left: 25px;

        &:first-child{
            margin-left: 0;
        }
    }
}

.boxCreate{
    width: 95%;

    margin: 50px 0 0;
    padding: 10px 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px solid transparent;
    border-radius: 10px;

    background-color: color.$lightBoxBack;
    
    @include mixin.laptop {
        width: auto;
        margin: 0;
        grid-column: 4/11;
        grid-row: 3/5;
        // width: 65%;
        // margin: 50px 0 0 50px;
    }
}

.createTitle{
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 1.2;
    margin: 20px 0 0;
}

.boxCreateTimer{
    width: 100%;
}

.createList{
    margin: 30px 0 0;

    display: inline-block;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

.createItems{
    list-style: none;

    margin-left: 10px;
    width: 130px;
    height: 170px;

    background-color: color.$buttonAccent;
    border-radius: 10px;

    display: inline-block;
    vertical-align: top;

    &:last-child{
        margin-right: 10px;
    }
}

.navLink{
    text-decoration: none;

    @include mixin.jcc;
    text-align: center;

    width: 100%;
    height: 100%;

    white-space: pre-wrap;
    color: color.$lightPrimaryText;
    background-color: color.$lightBackground;
    border-radius: 10px;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.16;

    &:hover,
    &:focus{
        background-color: color.$buttonAccent;
    }
}

.createSpan{
    font-weight: 200;
    font-size: 70px;
    padding-bottom: 40px;
}

.box{
    margin: 50px 0 0;
    width: 95%;
    // max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixin.mobile{
        align-items: flex-start;
    }
}

.saved {
    text-decoration: none;

    width: 100%;
    height: 100px;

    // padding: 10px;
    // margin: 50px 0 0;

    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 1.2;
    // margin: 20px 0 0;

    @include mixin.jcc;

    border: 1px solid transparent;
    border-radius: 10px;

    color: color.$lightPrimaryText;
    background-color: color.$lightBoxBack;

    @include mixin.mobile{
        width: 48%;
        font-size: 20px;
    }

    @include mixin.tablet{
        font-size: 30px;
        height: 152px;
    }

    &:hover,
    &:focus {
        background-color: color.$buttonAccent;
    }
}

.boxSaved{
    // width: 25%;
    height: 660px;
    order: -1;

    overflow-y: auto;

    margin: 0;
    padding: 15px;    

    border: 1px solid transparent;
    border-radius: 10px;

    background-color: color.$lightBoxBack;

    grid-column: 1/4;
    grid-row: 1/9;
}

.savedTitle{
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 1.2;
    text-align: center;
    margin: 20px 0 0;
}