@use '../../style/mixin.scss' as mixin;
@use '../../style/colors.scss' as color;

.btnBox{
    padding: 5px;
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    padding: 5px;
    margin-top: 90px;
}

// .inputBox {}

.timerNameBox {
    width: 100%;
}

.timerName{
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.27;
    color: color.$lightPrimaryText;
}

.sup{
    composes: timerName;
    font-weight: 300;
    font-size: 11px;
}

.inputName {
    width: 97%;
    height: 35px;

    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 16px;
    color: color.$lightPrimaryText;
    background-color: color.$lightInputBack;

    border: 1px solid transparent;

    padding: 5px;
    margin-top: 15px;
}

.timeTittle{
    composes: timerName;
    margin-top: 50px;
    margin-bottom: 0;
}

.timeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 15px 0 0;

    // border: 1px solid black;
}

.timeLabel{
    composes: timerName;
    font-size: 15px;

    width: 90px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    // padding: 5px 10px 10px;
    &:not(:first-child) {
        margin-left: 10px;
    }
}

.input {
    width: 60px;
    height: 50px;

    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 35px;

    color: color.$lightPrimaryText;

    padding: 10px;
    margin-top: 5px;

    border: 1px solid transparent;
    background-color: color.$lightInputBack;
    // border: 1px solid color.$button;

    text-align: center;
}

.saveLabel{
    display: block;

    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.27;
    color: color.$lightPrimaryText;

    text-align: end;

    margin-top: 30px;
    padding: 5px;
}

.saveInput{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.button {
    display: block;
    
    padding: 10px 25px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    @include mixin.jcc;

    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 1.16;

    border: 1px solid transparent;
    border-radius: 5%;

    color: color.$lightPrimaryText;
    background-color: color.$button;

    cursor: pointer;
}