.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.items{
    width: 99%;
    height: fit-content;

    // display: flex;
    // justify-content: space-around;
    // align-items: center;

    
    margin-top: 5px;

    border: 1px solid black;
}

