// $colors: (
//     'button': #9e9e9e,
//     'buttonAccent': #607D8B,
//     'lightBackground': #FAFAFA,
//     'lightPrimaryText': #000000,
//     'darkBackground': #212121,
//     'darkPrimaryText': #F5F5F5,

// );

// @function getColor($key) {
//     @return map-get($colors, $key);
// };

    $button: #BDBDBD;
    $buttonAccent: #607D8B;
    $buttonDisabled: #EEEEEE;

    // $lightInputBack: #E0E0E0;
    $lightBoxBack: #E0E0E0;
    $lightBackground: #FAFAFA;
    $lightPrimaryText: #161616;

    $darkBackground: #212121;
    $darkPrimaryText: #F5F5F5;