
$button: #BDBDBD;
$buttonAccent: #607D8B;
$buttonDisabled: #EEEEEE;

// $lightInputBack: #E0E0E0;
$lightBoxBack: #E0E0E0;
$lightBackground: #FAFAFA;
$lightPrimaryText: #161616;

$darkBackground: #212121;
$darkPrimaryText: #F5F5F5;

$warBackground: #F4511E;
$warBackgroundSecond: #6D4C41;