@mixin container {
    width: 100%;
    // max-width: 479px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1024px) {
    }

    @media screen and (min-width: 1280px) {
    }
}

@mixin mobile {
    @media screen and (min-width: 480px){
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}