@mixin container {
    min-width: 383px;
    // max-width: 479px;
    margin: 0 auto;

    // @media screen and (min-width: 480) {
    //     min-width: 479px;
    //     max-width: 767px;
    // }

    // @media screen and (min-width: 768px) {
    //     min-width: 479px;
    //     max-width: 1024px;
    //     padding-left: 15px;
    //     padding-right: 15px;
    // }

    // @media screen and (min-width: 1024px) {
    //     min-width: 1024px;
    // }

    // @media screen and (min-width: 1280px) {
    //     min-width: 1280px;
    // }
}

@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}