.form{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    // align-items: center;
}

.input{
    width: 100px;
    height: 100px;

    font-weight: 500;
    font-size: 50px;

    text-align: center;
}